<?xml version="1.0"?>

<launch>
  <arg name="x_pos" default="3.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="gui" value="true"/>
  </include>


  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
     <arg name="name" default="chirya"/>
     <arg name="model" value="$(find intelligent_drone)/urdf/hector_camera_laser.urdf.xacro"/>
   </include>




</launch>